* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    /* max-width: 1600px; */
}

/* shared styles */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Main styles  */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
}

.logo h2{
    font-size: 45px;
    font-weight: extra-bold;
    color: #181818;   
}
#color-orange{
    color: #FF6E31;
}

nav{
    /* max-width: 1140px; */
    width: 71%;
    border: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 51px;
}
nav .menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
    font-weight: regular;
}
nav .menu li button{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 65px;
    padding: 19px 36px;
    font-size: 20px;
    color: white;
    font-weight: bold;   
    cursor: pointer;    
}