* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    max-width: 100%;
    max-width: 1600px;
}

/* shared styles */
.font-open-sans{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
}

/* Main styles  */
header{
    background-color: #FFF8F3;
    padding-top: 50px;
    background-image: url('../images/developer.png'),url('../images/header_bg.png');                     
    background-position: 23px 38px, bottom right;
    background-repeat: no-repeat;
}

.logo h2{
    font-size: 45px;
    font-weight: extra-bold;
    color: #181818;   
}
#color-orange{
    color: #FF6E31;
}

nav{
    /* max-width: 1140px; */
    width: 71%;
    border: none;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
}
nav .menu{
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    gap: 51px;
}
nav .menu li a{
    text-decoration: none;
    font-size: 20px;
    color: #474747;
    font-weight: regular;
}
nav .menu li button{
    background-color: #FD6E0A;
    border: none;
    border-radius: 5px;
    width: 150px;
    height: 65px;
    padding: 19px 36px;
    font-size: 20px;
    color: white;
    font-weight: bold;   
    cursor: pointer;    
}

#banner{
    border: 1px solid red;
    margin: 47px 38px 0px 230px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#banner .banner-content{
    max-width: 585px;
}
#banner .banner-content h2{
    font-size: 45px;
    font-weight: semi-bold;
    color: #474747;
    margin-bottom: 5px;
}
#banner .banner-content h1{
    font-size: 85px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 20px;
}
#banner .banner-content p{
    font-size: 18px;
    font-weight: regular;
    color: #757575;
    margin-bottom: 30px;
    line-height: 30px;
}
.btn-1{
    background-color: #FD6E0A;
    width: 200px;
    height: 64px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    font-weight: bold;
    border: none;
    cursor: pointer;
    padding: 19px 17px;
    line-height: auto;
}
.btn-2{
    background-color: transparent;
    width: 160px;
    height: 64px;
    border-radius: 5px;
    margin-left: 30px;
    font-size: 20px;
    color: #FD6E0A;
    font-weight: bold;
    line-height: auto;
    padding: 19px 23px;
    border: none;
}
#banner .banner-img img{
    max-width: 585px;
    vertical-align: middle;
}

#about{
    padding: 120px 120px;
}
#about .about-container{
    width:71%;
    max-width: 1140px;
    height: 550px;
    margin: 0 auto;
    text-align: center;
    background-color: #FFF8F3;
    border: none;
    border-radius: 10px;
    padding: 131px 40px;
}
.section-heading{
    max-width: 827px;
    height: 198px;
    text-align: center;
    
}
.section-heading h2{
    font-size: 35px;
    font-weight: bold;
    color: #181818;
    margin-bottom: 30px;
    line-height: auto;
}
.section-heading p{
    font-size: 18px;
    font-weight: regular;
    color: #757575;
    line-height: 30px;
    text-align: justify;
    margin-bottom: 30px;
}
#about .about-container .about-info{
    max-width: 782px;
    height: 60px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */
    margin-top: 30px;
    padding: 30px 22.5px 131px;
    gap: 50px;   
}
.about-info .info-card{
    line-height: 30px;
}
.about-info .info-card p{
    font-size: 20px;
    font-weight: regular;
    color: #757575;
    line-height: 30px;   
}
.about-info .info-card h4{
    font-size: 20px;
    font-weight: bold;
    color: #181818;
}